<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Add Product</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="productAddForm">
                    <div class="mb-3">
                        <div class="form-group">
                            <input type="text" name="" id="productName" formControlName="productName" placeholder="Product Name" class="form-control">
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="form-group">
                            <input type="number" name="" id="categoryId" formControlName="categoryId" placeholder="Category" class="form-control">
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="form-group">
                            <input type="number" name="" id="unitsInStock" formControlName="unitsInStock" placeholder="Stock" class="form-control">
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="form-group">
                            <input type="number" name="" id="unitPrice" formControlName="unitPrice" placeholder="Price" class="form-control">
                        </div>
                    </div>

                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-primary" (click)="add()">
                Ekle
              </button>
            </div>
        </div>





    </div>
</div>